.popular_restaurants {
    margin-bottom: 4rem;
}

.heading {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0.79rem;
}

@media screen and (max-width:1024px) {
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:992px) {
    .popular_restaurants{
        padding: 1rem;
    }
    .heading {
        font-size: 16px;
        line-height: 24px;
    }
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
