.deal{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.deal p.desc{
    color: #FC8A06;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    position: absolute;
    left: 2rem;
    bottom: 4rem;
}

.deal h3.title{
    color: white;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.deal img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.deal span.discount{
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    height: 66px;
    width: 88px;
    position: absolute;
    top: 0;
    right: 1rem;
    background-color: #03081F;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}