.info {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #FBFBFB;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 14px 0 #00000040;
}

.item_info {
    flex: 1;
    padding: 4rem 2rem;
    cursor: pointer;
}

.title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.item_info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.item_info ul li {
    list-style: none;
    font-size: 18px;
    line-height: 46xp;
    font-weight: 400;
}

.item_info.active {
    background-color: #03081F;
    color: white;
}

.border_radius_start{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.border_radius_end{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.precaution{
    line-height: 40px;
}

@media screen and (max-width:992px) {
    .info{
        padding: 1rem;
        flex-direction: column;
    }

    .border_radius_start{
        border-bottom-left-radius: 0;
        border-top-right-radius: 12px;
    }

    .border_radius_end{
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
    }
}