.card{
    width: 100%;
    background-color: #FC8A06;
    color: white;
    /* border: 1px solid gainsboro; */
    border-radius: 20px;
    text-decoration: none;
}

.thumbnail{
    width: 100%;
}

.title{
    font-size:18px;
    line-height:27px;
    font-weight:700;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width:768px) {
    .thumbnail{
        width: 100%;
    }
    .title{
        font-size: 13px;
        line-height: 16px;
    }
}